<p id="notice"><%= notice %></p>

<h1>Listing Smokings</h1>

<table>
  <thead>
    <tr>
      <th>Smoke date</th>
      <th>Smoke time</th>
      <th>Smoke interval</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Tobacco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @smokings.each do |smoking| %>
      <tr>
        <td><%= smoking.smoke_date %></td>
        <td><%= smoking.smoke_time %></td>
        <td><%= smoking.smoke_interval %></td>
        <td><%= smoking.latitude %></td>
        <td><%= smoking.longitude %></td>
        <td><%= smoking.tobacco %></td>
        <td><%= link_to 'Show', smoking %></td>
        <td><%= link_to 'Edit', edit_smoking_path(smoking) %></td>
        <td><%= link_to 'Destroy', smoking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Smoking', new_smoking_path %>
