<p id="notice"><%= notice %></p>

<h1>Listing Makers</h1>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @makers.each do |maker| %>
        <tr>
          <td><%= maker.name %></td>
          <td><%= link_to 'Show', maker %></td>
          <td><%= link_to 'Edit', edit_maker_path(maker) %></td>
          <td><%= link_to 'Destroy', maker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Maker', new_maker_path %>
